.App {
  text-align: center;
  background-color: #282c34 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.midContainer {
    background-color: #282c34;
    position: fixed;
    left: 0px;
    padding: 0;
    margin: 0;
    /*background-color: #ff00ff;*/
}

.left-element {
    /*background: green;*/
    display: inline-block;
    float: left;
}

.mid-element {
    /*background: red;*/
    display: inline-block;
    float: left;
}

.right-element {
    background: red !important; 
    display: inline-block;
    float: left;
    width: 25vw;
}

.leaflet-container {
    height: 90vh;
    width: 75vw;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

/*Top Nav Bar*/
.topBar {
  height: 10vh !important;
}
